/* @charset "UTF-8" */

#top-bar.animated-header{
    background-color: #004D68;
    border-bottom: 1px solid #004D68;
}
#top-bar{
    background-color: #007CA5;
    border-bottom: 1px solid #007CA5;
    color: #fff;
}
#top-bar.animated-header .main-menu li.active{
    background-color: #007CA5;
    padding: 0px;
}
#top-bar .main-menu li.active{
    background-color: #02bdd5;
    border-radius: 25px;
}
#top-bar .main-menu li.active a,
#top-bar .main-menu li a{
    color:#fff;
    padding-left: 25px;
    padding-right: 25px;
}
#top-bar .main-menu li.active a:hover,
#top-bar .main-menu li a:hover{
    color:#888;
}
.navbar-brand img{
    padding-left: 10px;
    height: 40px;
}
@media(min-width:768px){
    .navbar-brand img{
        height: 45px;
        padding-left: 0px;
    }
}
.navbar-brand ul li{
    display: list-item;
    /*display:  inline-block;*/
}
.navbar-brand ul li{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    text-transform: capitalize;
}
.navbar-brand ul li:nth-child(2){
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: normal;
    font-style: italic;
}
@media(min-width:768px){
    .navbar-brand ul li{
        font-size: 18px;
    }
    .navbar-brand ul li:nth-child(2){
        font-size: 15px;
    }
}
section#about,
section#profile,
section#event,
section#news{
    padding: 30px 0px;
}
@media(min-width:768px){
    section#about,
    section#profile,
    section#event,
    section#news{
        padding: 50px 0px;
    }
}
#profile{
    padding: 0px;
    background-color: rgba(0, 124, 165, 0.5);:
}
#profile .title{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;
}
#profile iframe{
    height: 100%;
}
@media(min-width:768px){
    #profile iframe{
        height:450px;
    }
}
#about .block h2{
    text-align: center;
    font-size: 25px;
}
@media(min-width:768px){
    #about .block h2{
        font-size: 25px;
    }
}
#headline_news .buttons{
    padding-top:15%;
    position: static;
}
#event{
    padding: 0px;
    background-color: rgba(0, 124, 165, 0.5);:
}
#event .section-heading{
    margin-bottom: 40px;
}
#event .title{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;
}
#event .subtitle{
    text-transform:  none;
    color: #fff;
}
#event .overlay{
    padding-top: 35%;
}
#event .buttons{
    position: static;
}
#news figcaption{
    background-color: #007CA5;
}
#news figcaption,
#news figcaption h4 a{
    color: #fff;
}
#news figcaption h4 a:hover{
    color: #888;
}
#footer{
    background-color: #007CA5;
    color: #fff;
}
#footer .copyright a{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
#footer .social li a{
    color:#fff;
}
#new-parallax {
  background: url('../images/slider.jpg') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

#new-parallax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#new-parallax .block {
  position: relative;
  z-index: 999;
}
#new-parallax h1 {
  font-size: 40px;
  line-height: 50px;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#new-parallax h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 27px;
  text-transform: uppercase;
  color: #666;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}
#new-parallax .btn {
  background: #414141;
  border: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 30px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}

#vm.works{
    background-color: transparent;;

}
#hero-area{
    padding: 120px 0px 100px 0px;
}
#hero-area img{
    width: 100%;
    padding: 0% 30%;
}
#hero-area h2{
    text-align: center;
    margin: 50px 0px 0px 0px;
}
@media(min-width:768px){
    #hero-area{
        padding: 150px 0px 50px 0px;
    }
    #hero-area img{
        width: 100%;
        padding: 0% 40%;
    }
    #hero-area h2{
        text-align: center;
        margin: 50px 0px 0px 0px;
    }
}
@media(min-width:1024px){
    #hero-area{
        padding: 200px 0px 150px 0px;
    }
    #hero-area img{
        width: 100%;
        padding: 0% 20%;
    }
    #hero-area h2{
        text-align: left;
        margin: 50px 0px 0px 0px;
    }
}
#feature{
    padding: 30px 0px;
}
#feature .media{
    margin: 0px;
}
#spesialisasi h1{
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}
#spesialisasi .specialization-item{
    border-right: 1px solid #ddd;
    margin-top: 20px;
}
#spesialisasi .specialization-item:nth-child(2),
#spesialisasi .specialization-item:nth-child(4),
#spesialisasi .specialization-item:nth-child(6){
    border-right: 0px solid #ddd;
}
#spesialisasi .specialization-item .specialization-item-description{
    height:200px;
    overflow: scroll;
}
#spesialisasi img{
    width: 100%;
    padding: 0% 20%;
}
@media(min-width:768px){
    #spesialisasi h1{
        font-size: 40px;
    }
    #spesialisasi img{
        width: 100%;
        padding: 0% 30%;
    }
    #spesialisasi .specialization-item{
        margin-top: 50px;
    }
    #spesialisasi .specialization-item:nth-child(2),
    #spesialisasi .specialization-item:nth-child(4){
        border-right: 1px solid #ddd;
    }
    #spesialisasi .specialization-item:nth-child(3){
        border-right: 0px solid #ddd;
    }
    #spesialisasi .specialization-item .specialization-item-description{
        height:150px;
    }
}
@media(min-width:1024px){
    #feature{
        padding: 70px 0px 50px 0px;
    }
    #spesialisasi h1{
        font-size: 50px;
        margin-bottom: 50px;
    }
    #spesialisasi img{
        width: 100%;
        padding: 0% 10%;
    }
    #spesialisasi .specialization-item{
        margin-top: 10px;
    }
    #spesialisasi .specialization-item:nth-child(3){
        border-right: 1px solid #ddd;
    }
    #spesialisasi .specialization-item .specialization-item-description{
        height:250px;
        overflow: hidden;
    }
}
#visimisi{
    background-color: #FCFCFC;
    color: #000;
    padding: 80px 0px 50px;
}
#visimisi h1.title{
    font-size: 30px;
    letter-spacing: normal;
}
#visimisi h1{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#visimisi p{
    font-size: 15px;
    text-align: justify;
}
#visimisi .clear-fix{
    padding: 5px 0px;
}
#misi-small{
    display: inline;
}
#misi-large{
    display: none;
}
#visimisi .section-heading{
    margin: 0px;
    padding: 20px 0px;
}
@media(min-width:768px){
    #visimisi p{
        font-size: 16px;
        padding: 0px 5%;
    }
}
@media(min-width:1024px){
    #visimisi h1.visi{
        padding-top: 0%;
        font-size: 100px;
    }
    #visimisi h1.misi{
        padding-top:5%;
        font-size: 100px;
    }
    #visimisi .clear-fix{
        padding: 25px 0px;
    }
    #misi-small{
        display: none;
    }
    #misi-large{
        display: inline;
    }
}
#faculty-member{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 0px 30px;
}
#faculty-member .title{
    font-size: 40px;
    padding: 20px 0px 20px;
    color: #fff;
}
#faculty-member .section-heading{
    margin: 0px;
}
#faculty-member img{
    width:100%;
    padding: 0% 25%;
    margin: 0px 0px 30px;
}
#faculty-member h4.media-heading{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#faculty-member .separator{
    width: 80%;
}
#faculty-member p{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 50px;
}
#faculty-member #member-small{
    display: inline;
}
#faculty-member #member-large{
    display: none;
}
@media(min-width:768px){
    #faculty-member img{
        padding: 0% 40%;
    }
    #faculty-member p{
        padding: 0% 5%;
        text-align: justify;
    }
    #faculty-member .separator{
        width: 70%;
    }
    #faculty-member p{
        text-align: center;
    }
}
@media(min-width:1024px){
    #faculty-member img{
        padding: 0% 20%;
    }
    #faculty-member .title{
        margin-bottom: 50px;
    }
    #faculty-member p{
        padding: 0% 5%;
        text-align: justify;
    }
    #faculty-member .separator{
        width: 50%;
    }
    #faculty-member #member-small{
        display: none;
    }
    #faculty-member #member-large{
        display: inline;
    }
    #faculty-member .separator{
        width: 70%;
    }
    #faculty-member #memberOne .separator{
        margin-left: 0;
    }
    #faculty-member #memberTwo .separator{
        margin-right: 0;
    }
    #faculty-member h4{
        padding: 0% 5%;
    }
    #faculty-member #memberOne h4{
        text-align: left;
    }
    #faculty-member #memberTwo h4{
        text-align: right;
    }
    #faculty-member #memberOne p{
        direction: ltr;
    }
    #faculty-member #memberTwo p{
        direction: rtl;
    }
}
#member-detail{
    padding: 0px 5%;
}
