/* @charset "UTF-8" */

#top-bar.animated-header{
    background-color: #004D68;
}
#top-bar{
    background-color: #007CA5;
    border-bottom: 1px solid #004D68;
    color: #fff;
}
#top-bar .main-menu li a{
    color: #fff;
}
#top-bar .main-menu li a:hover{
    color: #888;
}
.navbar-brand img{
    padding-left: 10px;
    height: 40px;
}
@media(min-width:768px){
    .navbar-brand img{
        height: 45px;
        padding-left: 0px;
    }
}
.navbar-brand ul li{
    display: inline-block;
}
.navbar-brand ul li:nth-child(2){
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    text-transform:  uppercase;
}
section#about,
section#event,
section#news{
    padding: 30px 0px;
}
@media(min-width:768px){
    section#about,
    section#event,
    section#news{
        padding: 20px 0px;
    }
}
#about iframe{
    height: 200px;
}
@media(min-width:768px){
    #about iframe{
        height: 300px;
    }
}
#about .block h2{
    text-align: center;
    font-size: 25px;
}
@media(min-width:768px){
    #about .block h2{
        font-size: 25px;
    }
}
#headline_news .buttons{
    padding-top:15%;
    position: static;
}
#event{
    padding: 0px;
    background-color: rgba(0, 124, 165, 0.5);:
}
#event .section-heading{
    margin-bottom: 40px;
}
#event .title{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;
}
#event .subtitle{
    text-transform:  none;
    color: #fff;
}
#event .overlay{
    padding-top: 35%;
}
#event .buttons{
    position: static;
}
#news figcaption{
    background-color: #007CA5;
}
#news figcaption,
#news figcaption h4 a{
    color: #fff;
}
#news figcaption h4 a:hover{
    color: #888;
}
#footer{
    background-color: #007CA5;
    color: #fff;
}
#footer .copyright a{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
#footer .social li a{
    color:#fff;
}
#new-parallax {
  background: url('../images/slider.jpg') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

#new-parallax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#new-parallax .block {
  position: relative;
  z-index: 999;
}
#new-parallax h1 {
  font-size: 40px;
  line-height: 50px;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#new-parallax h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 27px;
  text-transform: uppercase;
  color: #666;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}
#new-parallax .btn {
  background: #414141;
  border: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 30px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}

#vm.works{
    background-color: transparent;;

}
